      <footer class="container-fluid">
        <section class="row">
          <div class="col-12">
            <section class="row">
              <div class="col-lg-4 col-md-12 footerCol">
                <figure class="copyLogo">
                  <img src="{{logoPath}}" class="img-responsive footerLogo">
                  <figcaption>
                    <p class="copyright">Rocko Fitness, LLC.</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-lg-4 col-md-12 footerCol">
                <figure class="mapSection">
                  <p>Location:</p>
                  <p>1234 Lorem ipsum Dolor, Sit Amet 99999</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.621244228017!2d-12241432624955578!3d37.77547827966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f131!3m3!1m2!1s0x80858082c9b46d83%3A0x2af43889e9fa8924!2sSuccess%20Centers!5e0!3m2!1sen!2sus!4v164935227114!5m2!1sen!2sus" width="200" height="200" style="border:0;" allowfullscreen=""loading="lazy"></iframe>
                </figure>
              </div>
              <div class="col-lg-4 col-md-12 contactArea footerCol">
                <figure class="contactHours">
                  <p>(999)999-9999
                  <p>Hours of operation:</p>
                  <p>Weekdays: 5:00AM - 2:00AM</p>
                  <p>Weekends: Open 24 Hours</p>
                  <div class="socialArea">
                    <!-- Add font awesome icons -->
                    <a href="#" class="fa fa-facebook fb"></a>
                    <a href="#" class="fa fa-twitter tw"></a>
                    <a href="#" class="fa fa-instagram ig"></a>
                  </div>
                </figure>
              </div>
            </section>
            
          </div>

        </section>
        

      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    
  </body>
</html>