<main class="container {{pageMainClass}}">
    <div class="row text-center">
        <h1 class="errTitle">Oh no!</h1>
        <h2 class="errMsg">{{errMsg}}</h2>
        <button class="goHome" id="goHome" class="btn btn-secondary">Return to Home</button> 
    </div>
</main>