<main class="container {{pageMainClass}}">
	<!-- home page -->

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Welcome to Rocko Fitness!</h1>
  <p>Your friendly, reliable, and trusted gym for all your fitness needs!</p> 
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <!-- Right bar with promotions/testimonials -->
      <h3>Current Promotions</h3>
      <p>New members can enjoy 20% off dues for the month of March 2022!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin nibh sit amet commodo nulla facilisi. Blandit massa enim nec dui nunc mattis enim ut tellus. Tincidunt augue interdum velit euismod in pellentesque. Adipiscing commodo elit at imperdiet dui. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque.</p>
      <h3>Have doubts? Hear from our patrons!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin nibh sit amet commodo nulla facilisi. Blandit massa enim nec dui nunc mattis enim ut tellus. Tincidunt augue interdum velit euismod in pellentesque. Adipiscing commodo elit at imperdiet dui. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Varius quam quisque id diam vel quam elementum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. </p>
    </div>
    <div class="col-sm-4">
      <h3>Who are we?</h3>
      <p>Rocko Fitness was founded in 1962 iorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin nibh sit amet commodo nulla facilisi. Blandit massa enim nec dui nunc mattis enim ut tellus. Tincidunt augue interdum velit euismod in pellentesque. Adipiscing commodo elit at imperdiet dui. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Varius quam quisque id diam vel quam elementum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Pretium nibh ipsum consequat nisl vel. Ipsum faucibus vitae aliquet nec ullamcorper sit. At quis risus sed vulputate odio ut enim blandit volutpat. Et ultrices neque ornare aenean euismod elementum nisi. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Et molestie ac feugiat sed lectus vestibulum mattis. Montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Consectetur lorem donec massa sapien faucibus et molestie.</p>
      <p>Our facilities include....Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>

    <div class="col-sm-4" style="padding:10px;">
      <h3>Photo Gallery</h3>        
      <img src="img/treadmill.jpeg" alt="treadmill" style="width:300px;height:300; padding-bottom: 10px";/><br>
      <img src="img/bench.jpeg" alt="bench" style="width:300px;height:300; padding-bottom: 10px";/><br>
      <img src="img/weights.jpeg" alt="weights" style="width:300px;height:300; padding-bottom: 10px";/><br>


      
    </div>
  </div>
</div>




</main>