<main class="container {{pageMainClass}}">
	<!-- home page -->


<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Rocko Fitness!</h1>
    <p>Your friendly, reliable, and trusted gym for all your fitness needs!</p>
  </div>
</div>

<!-- <div class="container-fluid p-5 bg-dark text-white text-center">
  <img src="img/gym.jpeg" alt="gym" style="width:600px;height:600; padding-bottom: 10px";/>
  <h1>Welcome to Rocko Fitness!</h1>
  <p>Your friendly, reliable, and trusted gym for all your fitness needs!</p> 
</div>
  -->
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <!-- Right bar with promotions/testimonials -->
      <h3>Current Promotions</h3>
      <p>New members can enjoy 20% off dues for the month of March 2022!</p>
      <p>Thanks to an influx of new members, and our construction being finished, Rocko Fitness is having a promotion to fill the new facilities and fitness classes. <br>
      20% off. Cancel anytime. No catch. It's on us! </p>
      <h3>Special Classes - March 2022</h3>
      <ul>
      <li>3/1/22 @ 8-9 AM - Ab training with Armie Hammer </li>
      <li>3/2/22 @ 6-7 PM - Ballet with Billie Eilish</li>
      <li>3/3/22 @ 10-11 AM - Cycling with Cyndi Lauper </li>
      <li>3/4/22 @ 7-10 PM - Dodgeball with Dwayne "The Rock" Johnson</li>
      <li>3/5/22 @ 7-9 AM - Exercise with Elon Musk</li>
      <li>3/6/22 @ 1-2 PM - Free weights with Floyd Mayweather</li>
      <li>3/7/22 @ 5-7 PM - Gymnastics with Gal Gadot</li>
      <p><b>Watch this space for more of our special weekly classes!</b></p>
      </ul>
      <h3>Have doubts? Hear from our patrons!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin nibh sit amet commodo nulla facilisi. Blandit massa enim nec dui nunc mattis enim ut tellus. Tincidunt augue interdum velit euismod in pellentesque. Adipiscing commodo elit at imperdiet dui. Ornare quam viverra orci sagittis eu volutpat odio facilisis. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Varius quam quisque id diam vel quam elementum. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. </p>
    </div>
    <div class="col-sm-4">
      <h3>About Rocko Fitness</h3>
      <p>Rocko Fitness was founded in 1962 by Barb Dwyer and her partner Joe King. They met in high school and were captains of the track team and football team, respectively. After going their separate ways after high school, they later reunited years later while working at their local YMCA during the summer of 1956. Instantly connecting with their passion for fitness and health, they quickly rekindled a lost friendship and married the spring of 1958 and had children a few years later.</p> 
      <p>While they didn't have much to complain about at their local gym, they still found that things were not up to their full potential and had tremendous room for growth. Joe King being an investment banker, and Barb Dwyer having an eye for aesthetics, decided to build their own gym from the ground up. With their many established connections from those in different industries, they were able to source the best amenities for their gym at the lowest prices. </p>
      <p>Although founded in 1962, Rocko Fitness did not open until the summer of 1964, where the record high was 102°F. Luckily, their olympic sized pool was just installed a few weeks prior, and that amenity was a hit for the town, which was lacking a public pool. </p>
      <p>Rocko Fitness has trained many Olympic athletes including Michael Phelps, Simone Biles, Usain Bolt, and many more. </p>
      <p>Happy of all of their accomplishments with the gym, Barb and Joe decided to retire early in 1985 and passed ownership to their 4 children who now oversee daily operations. </p>
      <p>Our facilities include an Olympic sized pool, soccer field, football and soccer field, cycling rooms, tennis courts, spa and massage, and many more. Feel free to schedule a tour by giving us a call!</p>
    </div>

    <div class="col-sm-4" style="padding:10px;">
      <h3>Photo Gallery</h3>        
      <img src="img/treadmill.jpeg" alt="treadmill" style="width:300px;height:300; padding-bottom: 10px";/><br>
      <img src="img/bench.jpeg" alt="bench" style="width:300px;height:300; padding-bottom: 10px";/><br>
      <img src="img/pool.jpeg" alt="pool" style="width:300px;height:300; padding-bottom: 10px";/><br>
      <img src="img/tennis.jpeg" alt="tennis" style="width:300px;height:300; padding-bottom: 10px";/>


      
    </div>
  </div>
</div>




</main>