<main class="container {{pageMainClass}}">
  <section class="row">
    <div class="col-12">
      <h1 class="signupTitle">Signup</h1>
      <section class=" signup">
        <form action="/submit/signup" method="post" class="signupForm">
          <section class="row registration">
            <div class="col-12">
              <div class="row">
                <input type="text" placeholder="First Name" name="fname" class="singupField" required><br><br>
                <input type="text" placeholder="Last Name" name="lname" class="singupField" required><br><br>
                <input type="text" placeholder="Email" name="email" class="singupField" required><br><br>
                <input type="text" placeholder="Phone" name="phone" class="singupField" required><br><br>
                <input type="text" placeholder="Display Name" name="username" class="singupField" required><br><br>
                <input type="password" placeholder="Password" name="password" class="singupField" required><br><br>
              </div>
              <div class="row">
                <select class="custom-select signupSel" name="workout_plan">
                  <option value="">Plan Options:</option>
                  <option value="Smart Start">Smart Start</option>
                  <option value="Weight loss">Weight loss</option>
                  <option value="Strength Builder">Strength Builder</option>
                  <option value="Energy and Vitality">Energy and Vitality</option>
                  <option value="Cardio Fix">Cardio Fix</option>
                  <option value="Performance Booster">Performance Booster</option>
                  <option value="Turbo Fat Loss">Turbo Fat Loss</option>
                  <option value="Kettlebell Origins">Kettlebell Origins</option>
                  <option value="10 Minutes To Transform">10 Minutes To Transform</option>
                </select>
              </div>
              <div class="row">
                <input type="submit" value="Register" id="sub" class="btn formButton">
              </div>
            </div>
          </section>
        </form>
      </section>
    </div>
  </section>
</main>
