<main class="{{pageMainClass}}">
	<h1>{{pageTitle}}</h1>

         <div>
         <form>
		<div class="registration">
        <h1 class="text-center">LOGO</h1>
        <h2>Sign Up</h2>
        <form action="/action_page.php" method="post"><br>
                <input type="password" placeholder="First Name" required><br><br>
                <input type="password" placeholder="Last Name" required><br><br>
                <input type="password" placeholder="Email" required><br><br>
                <input type="password" placeholder="Phone" required><br><br>
                <input type="password" placeholder="Display Name" required><br><br>
                <div class="custom-select" style="width:200px;">
       <select>
    <option value="0">Plan Options:</option>
    <option value="1">Smart Start</option>
    <option value="2">Weight loss</option>
    <option value="3">Strength Builder</option>
    <option value="4">Energy and Vitality</option>
    <option value="5">Cardio Fix</option>
    <option value="6">Performance Booster</option>
    <option value="7">Turbo Fat Loss</option>
    <option value="8">Kettlebell Origins</option>
    <option value="9">10 Minutes To Transform</option>
    
  </select>
    </div>
                <input type="password" placeholder="Paynment info" required><br><br>
                <input type="submit" value="Register" id="sub">
        </form>
    </div>
</body>
</main>
