<main class="{{pageMainClass}}">
	<h1>{{pageTitle}}</h1>

         <div>
         <form>
		<div class="registration">
        <h1 class="text-center">LOGO</h1>
        <h2>Sign Up</h2>
        <form action="/action_page.php" method="post"><br>
                <input type="password" placeholder="First Name" required><br><br>
                <input type="password" placeholder="Last Name" required><br><br>
                <input type="password" placeholder="Email" required><br><br>
                <input type="password" placeholder="Phone" required><br><br>c
                <input type="password" placeholder="Display Name" required><br><br>
                <input type="password" placeholder="Plan option" required><br><br>
                <input type="password" placeholder="Paynment info" required><br><br>
                <input type="submit" value="Register" id="sub">
        </form>
    </div>
</body>
</main>
