<main class="container {{pageMainClass}}">
    <div class="row text-center">
        <h1 class="errTitle">Successfully Registered and Logged In!</h1>
        <button class="goHome" id="goHome" class="btn btn-secondary">Return to Home</button>  
    </div>
</main>