<main class="container {{pageMainClass}}">
  <section class="row">
    <h1>{{pageTitle}}</h1>
    <section class="form-container">
      <form action="/submit/workoutPlans">
        <!--<div class="form-left">
          <h3>Describe your body type</h3>
          <label for="body">anorexia</label>
          <input type="text" name="body" id="body">
          <label for="body">lowest normal</label>
          <input type="text" name="body" id="body">
          <label for="body">middle normal</label>
          <input type="text" name="body" id="body">
          <label for="body">highest normal</label>
          <input type="text" name="body" id="body">
          <label for="body">obesity</label>
          <input type="text" name="body" id="body">
          <label for="body">morbid obesity</label>
          <input type="text" name="body" id="body">
        </div> -->
        <div class="row buttonwrapperSection">
          <div class="col-12">
            <h2>Choose body type</h2>
            <button id="btnEctomorph" class="btnEctomorph">Ectomorph</button><br>
            <button id="btnMesomorph" class="btnMesomorph">Mesomorph</button><br>
            <button id="btnEndomorph" class="btnEndomorph">Endomorph</button><br>
            <div class="d-none">
              <input type="checkbox" id="ecto" name="bodyType" value="Ectomorph">
              <input type="checkbox" id="meso" name="bodyType" value="Mesomorph">
              <input type="checkbox" id="endo" name="bodyType" value="Endomorph">
            </div>
          </div>
        </div>
        <div class="select-weight" style="width:200px;">
          <select name="goal">
            <option value="0">Select weight:</option>
            <option value="180">180 lbs</option>
            <option value="200">200 lbs</option>
            <option value="220">220 lbs</option>
            <option value="240">240 lbs</option>
            <option value="260">260 lbs</option>
            <option value="280">280 lbs</option>
            <option value="300">300 lbs</option>
            <option value="320">320 lbs</option>
            <option value="340">340 lbs</option>
            <option value="360">360 lbs</option>
          </select>
        </div>
        <div class="row">
          <h2>Time Constraint</h2>
          <input type="text" placeholder="Time" name="time">
        </div>
        <!-- body_type: req.body.bodyType, 
        time: req.body.time,
        goal: req.body.goal, -->
      </form>
    </section>
    
    <section class="row d-none secEctomorph">
      <div class="col-12">
        <h2>Ectomorph</h2>
        <ul>
          <li>Typically skinny</li>
          <li>Small frame</li>
          <li>Lean muscle mass</li>
          <li>Doesn't gain weight easy</li>
          <li>Fastmetabolism</li>
          <li>Flat chest</li>
          <li>Smallshoulders</li>
        </ul>

        <h2>Workout type</h2>
        <ul>
          <li>Short & intense</li>
          <li>focus on big muscle groups</li>
          <li>Eat before bed to prevent muscle catabous</li>
        </ul>
      </div>
    </section>

    <section class="row d-none secMesomorph">
      <div class="col-12">
        <h2>Mesomorph</h2>
        <ul>
        <li>Athletic & rectangular shape</li>
        <li>Hard body, defined muscles</li>
        <li>Naturally strong</li>
        <li>Gains muscle easily</li>
        <li>Gains fat easier than ectomorph</li>
        <li>Broad shoulders</li>
        </ul>

        <h2>Workout type</h2>
        <ul>
          <li>Cardio & weight training</li>
          <li>Responds best to weeight</li>
          <li>Watch calorie intake</li>
        </ul>
      </div>
    </section>

    <section class="row d-none secEndomorph">
      <div class="col-12">
        <h2>Endomorph</h2>
        <ul>
          <li>SOFT & ROUND BODY</li>
          <li>TYPICALLY "SHORT & STOCKY*</li>
          <li>GAINS MUSCLE EASILY</li>
          <li>GAINS FAT VERY EASILY</li>
          <li>FINDS IT HARD TO LOSE FAT</li>
          <li>SLOW METABOLISH</li>
          <li>LARGE SHOULDERS</li>
        </ul>

        <h2>Workout type</h2>
        <ul>
          <li>Always do cardio training and weight training</li>
          <li>Watch calorie intake</li>s
        </ul>
      </div>
    </section>
    <div class="btnBackWrapper d-none">
      <button id="btnBack" class="btnBack">Back</button>
    </div>
  </section>
</main>
