<main class="{{pageMainClass}}">
	<h1>{{pageTitle}}</h1>
	<div class="form-container">
		<form action="">
			<div class="form-left">
				<h3>Describe your body type</h3>
				<label for="body">anorexia</label>
				<input type="text" name="body" id="body">
				<label for="body">lowest normal</label>
				<input type="text" name="body" id="body">
				<label for="body">middle normal</label>
				<input type="text" name="body" id="body">
				<label for="body">highest normal</label>
				<input type="text" name="body" id="body">
				<label for="body">obesity</label>
				<input type="text" name="body" id="body">
				<label for="body">morbid obesity</label>
				<input type="text" name="body" id="body">
			</div>
		</form>
	</div>	
</main>
