/* Raymond CSS */
body {
  /*padding: 50px;*/

  /*background-color:#847E89; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family:"Montserrat";
}
main{
  /*min-height: calc(103vh - 180px);*/
}
ul{
  list-style-type: none;
}
.mainNav {
  background-color: #847E89;
}

.mainNav a{
  color: white;

}

p {
font-family: "Oxygen";


}

footer {
font-family: "Oxygen";
background-color:  #56494C;
color: white;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;

}

header {
font-family: "Oxygen";
background-color:  #56494C;
color: white;
font: 20px;
}



/*
div {
font-family: "Oxygen";
background-color:  #56494C;
color: white;

}
*/

/* header link */
/*
.container-fluid a {
   color: white;
}
*/

/* header */
/*
.container-fluid {
background-color:  #847E89;
color: white;

}
*/
.bodyCard{
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  height: 250px;
  width: 150px;
  box-shadow: 2px 2px 2px #878787;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.bodyCardImg{
  text-align:center;
  margin-top: 5px;
  border: 2px solid #565656;
  border-radius: 5px;
}
.bodyBtn{
  padding: 5px;
  margin-bottom: 5px;
}
/*a {
  color: #00B7FF;
}*/
.navii{
  font-size:1.2rem;
}
.navii:hover{
  text-decoration: underline;
}
.logo{
  max-width: 110px;
}
.footerLogo{
  width: 300px;
}
.copyright{
  text-align: center;
}
.copyright::before{
  content: "\00A9";
  margin-right: 2px;
}
.mapSection{
  text-align: center;
}
/*.contactArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/
.footerCol{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socialArea a {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  /*this is to style social media buttons on footer*/
}

/* Add a hover effect if you want */
.socialArea a:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.socialArea a.fb {
  background: #3B5998;
  
}

/* Twitter */
.socialArea a.tw{
  background: #55ACEE;
  
}

/* Instagram */
.socialArea a.ig{
  background: #125688;
 
}


/* test */


/*
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }
*/

.login, .signup { 
 /* position: absolute; */
 /* top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px; */
  border: 3px solid #9FA4A9;
  margin: 95px 0;
}
.loginTitle{
  margin: 40px 0;
  text-align: center;
}
.login h2 { 
  /*color: #fff; */
  text-shadow: 0 0 0px rgba(0,0,0,0.3); 
  letter-spacing:1px; 
  text-align: center; 
}


.loginTitle{
  text-align: center;
}

.signupTitle{

  text-align: center;
  margin: 40px;
}
.signup{
  width: 315px;
  text-align:center;
  margin: auto;
  margin-bottom: 35px;
}
.singupField{
  color: black;
}
.formButton{
  background-color: #56494C;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.formButton:hover {
  background-color: #000000;
}
/* centering signup/workout page
.row {
  text-align:center;

}

.col-12 {
  text-align:center
}
*/
input { 
  width: 100%; 
  margin-bottom: 10px; 
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 0 0 0 rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
/* End Raymond CSS */ 

/* Style all input fields */

/* Style the submit on workout pagebutton */

/*submit button on work out page*/
/*time goal box on work out page*/


/* Style the container for inputs */

/* The message box is shown only when the user clicks on the password field */
#message {
  display: none;
  width: 300px;
  margin: 0 auto;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 16px;
}
/* Add a green text color when the requirements are right */
.valid {
  color: #009b6c;
}

/* Add a red text color when the requirements are wrong */
.invalid {
  color: #d9002f;
}
.registration {
  width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 50px;

}
 .custom-select select{
  width: 265px;
  padding: 12px;
  border: 1px solid silver;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: white;
  
  

}


label {
  margin-bottom: 10px;
  display: block;
}



/*.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}*/

span.price {
  float: right;
  color: grey;
}

.pgWorkout{
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.bodyBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.descSection{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
.descList{
  padding-left: 0;
}
.formFieldArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  /*border: 2px solid #565656;
  border-radius: 5px;*/
  width:50%;
}
.worxSubmit{
  width: 100px;
  margin: auto;
  margin-bottom: 30px;
}
.divider{
 border: 1px solid black;
}
label {
  margin-bottom: 10px;
  display: block;
  color:black;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

/*.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}*/

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */


/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 150px;
}
.signupSel{
  margin-bottom:10px;
}
 /*hide original SELECT element: */
/*.custom-select select {
  display: none;
}*/

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* general*/
.navbar .navbar-nav a.nav-link{
  color: var(--c1);
}
.navbar .navbar-nav a.nav-link:hover{
  color: var(--c2);
}
.mainNav{
  background-color: var(--c6);
}
.text-center {
  text-align: center;
}

/* Style all input fields */

/* Style the signin button */

/* Style the container for inputs */

/* The message box is shown only when the user clicks on the password field */
#message {
  display: none;
  width: 00px;
  margin: 0 auto;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 16px;
}
/* Add a green text color when the requirements are right */
.valid {
  color: #009b6c;
}

/* Add a red text color when the requirements are wrong */
.invalid {
  color: #d9002f;
}
.registration {
  width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 50px;
}
 .custom-select select{
  width: 100%;
  padding: 12px;
  border: 1px solid #b93737;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}


label {
  margin-bottom: 10px;
  display: block;
}


/* log in button */
/*.btn {
  background-color: #56494C;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

*/

span.price {
  float: right;
  color: grey;
}




label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.contactHours{
  text-align: center;
}
/* this is here twice
.btn {
  background-color: #56494C;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #e8c23a;
}
*/
.pgError{
  margin: 180px auto;
}
.pgSuccess{
  margin: 194px auto;
}
.pgResult{
  margin: 89px auto;
}
.goHome, .goLogin, .goBack{
  width: 200px;
  padding: 10px;
  margin: auto;
}


span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */


/* Hero */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/gym.jpeg");
  height: 250px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  /*margin-top: 15px;*/
}

.hero-text {
  text-align: center;
  position: relative;
  top: 30%;
  /*left: 0;
  transform: translate(-50%, -50%);*/
  color: white;
  /*margin-top: 15px;*/
}

@media (min-width: 450px) {
  .bodyBox{
    flex-direction: row;
  }
}